$bodyBackgroundColor: linear-gradient(#000 10%,#36157e 50%,#000 90%);
$sidebarBackgroundColor: rgba(31, 143, 235, 0);
$sidebarBorderColor: rgba(31, 143, 235, 0);

$onlineColor: #1ba100;
$offlineColor: #ff0000;
$contentBackgroundColor: rgba(31, 143, 235, 0);

$mainTextColor: #FDF5E6;
$alternativeTextColor: rgba(254, 253, 255, 0.3);
$optionalTextColor: #2b0c3a;
$blueTextColor: #771feb;
$greenTextColor: #10a01c;
$orangeTextColor: #ff6f00;
$redTextColor: #ff0000;
$addressTextColor: rgb(153, 47, 252);
$placeholderTextColor: rgba(255, 255, 255, 0.2);

$blueButtonBackgroundColor: linear-gradient(#000 10%, #36157e 50%, #000 90%);
$blueButtonBoxShadow: 0px 10px 40px rgba(96, 3, 158, 0.788);
$blueButtonHoverColor: linear-gradient(to right,#000,#6a2ec1,#000);
$blueButtonHoverBoxShadow: 0px 10px 50px rgba(96, 3, 158, 0.788);
$blueButtonFocusColor: linear-gradient(to right,#000,#6a2ec1,#000);
$blueButtonFocusBoxShadow: 0px 10px 20px rgba(96, 3, 158, 0.788);
$blueButtondisabledColor: linear-gradient(to right,#000,#6a2ec1,#000, 0.5);

$resetButtonBackgroundColor: transparent;
$resetButtonColor: #6e00d5a1;
$resetButtonHoverColor: #8f4aff;
$resetButtonFocusColor: #8604ff;
$resetButtonDisabledColor: rgba(170, 31, 235, 0.2);

$paginationButtonColor: rgba(253, 254, 255, 0.7);
$paginationButtonHoverColor: rgba(253, 254, 255, 0.4);

$inputBackgroundColor: transparent;
$selectDropdownBackgroundColor: #45016d;

$selectHoverColor: rgba(72, 58, 85, 0.5);
$selectSelectedColor: rgba(57, 43, 68, 0.5);

$switchOnBackgroundColor: #178b00;
$switchOffBackgroundColor: rgba(255, 255, 255, 0.2);
$switchCirceleBoxShadow: 0px 2.11765px 5.64706px rgba(0, 0, 0, 0.15), 0px 2.11765px 0.705882px rgba(0, 0, 0, 0.06);

$accountBoxShadow: 0px 0px 15px 3px rgb(159, 7, 255);
$accountDragBoxShadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
$accountBackgroundColor: rgba(125, 30, 233, 0.3);
$accountWatchOnlyBorderColor: #9a69f7;
$accountAuditableBorderColor: #ffffff;
$accountBackgroundColor: rgba(101, 30, 233, 0.3);
$accountActiveBackgroundColor: radial-gradient(100% 188.88% at 0% 0%, rgba(19, 0, 31) 0%, #7900ff 100%);
$accountHoverBackgroundColor: #5d1ed1;
$accountMainTextColor: #ffffff;

$seedPhraseFormBackgroundColor: rgba(136, 31, 235, 0.15);
$securedSeed: #e0e0e0;
$seedItemText: #e0e0e0;
$copyBackground: rgba(118, 30, 233, 0.6);
$copyBackgroundHover: rgba(118, 30, 233, 0.9);
$seedItemBackgroundColor: #29182a;
$accountOptionalTextColor: #675576;
$accountIndicatorTextColor: #280c3a;
$accountIndicatorBackgroundColor: #ffffff;

$tabInactiveBackgroundColor: rgba(143, 31, 235, 0.1);
$tabHoverBackgroundColor: rgba(143, 31, 235, 0.1);
$tableBackgroundColor: rgba(143, 31, 235, 0.1);
$messageMyBackgroundColor: #352a44;
$messageBuddyBackgroundColor: #24182a;
$progressBarBackgroundColor: rgba(143, 31, 235, 0.1);
$progressBarAccountColor: rgba(255, 255, 255, 0.2);
$progressBarAccountActiveColor: rgba(255, 255, 255, 0.2);
$progressBarFullBackgroundColor: #6d1feb;
$chartOptionsBackgroundColor: #372b44;
$chartOptionsHoverColor: #625576;
$tooltipBackgroundColor: #3f1273;
$tooltipTextColor: rgba(255, 255, 255, 0.5);
$tooltipImportantTextColor: #ff6f00;
$tooltipImportantBackgroundColor: #5f2b11;
$tooltipCriticalTextColor: #ff5252;
$tooltipCriticalBackgroundColor: #5f1d1d;
$tooltipShadow: 0 0 1rem rgba(0, 0, 0, 0.5);
$modalBackground: #441273;
$closeButtonColor: #6d5576;
$hoverPage: rgba(72, 58, 90, 0.247);

$aliasDropdownBackground: #5417a4;
