// :host {
//   flex: 1 1 100%;
//   align-items: stretch;
//   justify-content: stretch;
//   width: 100% !important;
//   height: 100% !important;
//   display: flex;
// }

.container {
  width: 93%;
  height: 55%;
  position: absolute;
}

// .highcharts-container {
//   display: flex;
//   flex: 1 1 100%;
//   align-items: stretch;
//   justify-content: stretch;
//   width: 100% !important;
//   height: 100% !important;
// }
  