[Desktop Entry]
Version=1.0
Name=Evox
Exec=Evox
Icon=/usr/share/pixmaps/desktop_linux_icon.png
MimeType=application/x-desktop
Terminal=true
Type=Application